@charset "UTF-8";

:root {
	--blue: #012060;
	--orange: #f87439;
	--lpurple: #F4F2FF;
	--purple: #6555cb;
	--lgrey: #6e657e;
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: normal;
	font-style: normal;
	color: var(--lgrey) !important;
	overflow-x: hidden;
	padding-top: 100px; /* Adjust based on your header height */
	/*     font-size: 14px; */
}
