@charset "UTF-8";

.footer {
	margin-top: 70px !important;	
  background-color: #04245c;
  color: #fff;
  padding: 60px 0 20px 0;
  font-family: 'Poppins', sans-serif;
}

.footer h5 {
  font-weight: bold;
  margin-bottom: 20px;
  border-left: 3px solid orange;
  padding-left: 10px;
}

.footer a {
	font-size: 14px !important;
  color: #cfcfcf;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.footer a:hover {
  color: #fff;
}

.footer .social-icons a {
  font-size: 22px !important;
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.footer .social-icons a:hover {
  color: orange;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #ccc;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom p:hover {
	cursor: pointer;		
  color: #fff;
}

.store-badges img {
  width: 60%;
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.store-badges img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

